* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: url("../images/custom-music-background.jpg") top/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  font-size: 2rem;
}

/* Responsive */
@media (max-width: 768px) {
  h2 {
    font-size: 1.6rem;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 1.3rem;
  }
}
