<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Radio Station</title>
  </head>
  <link rel="stylesheet" href="/static/css/index.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet"
  />
  <body>
    <nav>
      <h1>Your Radio Station</h1>
    </nav>
    <section>
      <div class="circular" id="live-music">
        <img src="../static/images/icons/radio.png" alt="" />
        <h3>Listen Live Music</h3>
      </div>
      <div class="circular" id="search-music">
        <img src="../static/images/icons/music.png" alt="" />
        <h3>Search Your Music</h3>
      </div>
    </section>
  </body>
  <script src="/static/js/index.js"></script>
</html>
